body{
    background-color: aqua;
}
#container{
    width: 680px;
    background-color: aquamarine;
    margin: 0px auto;
    padding: 10px 20px;
}
h1,body{
    margin: 0px;

}
header{
    text-align: center;
}
header h1{
    color: blueviolet;
    text-shadow: 5px 5px 10px black; 
}
.red{
    color: red;
    font-size: 1.25em;
}
.blue{
    color: blue;
}
.photo{
    border-radius: 75%;
    border: 5px solid white;
    box-shadow: 5px 5px 10px black;
}