

body{
    background-color: rgb(168, 228, 243);
    color: rgb(22, 3, 131);
    margin:0px;
}
h1{
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solod #95dbdb;
    background-color: #4b48f1;
    color: #fff;
    font-size: 300%;
    text-align: center;
    line-height: 1;
}
main{
    width: 980px;
    background-color: rgb(255, 251, 255);
    margin:0px auto;
    padding: 40px 80px;
    border: 1px solid #f6bb9e;
}
h2{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #1e025f;
    border-left: 10px solid #d0e35b;
    color: #0745b9;
}
.round{
    border-radius: 50%;
}
h1,header,nav,footer{
    text-align: center;
}